.gitignore
.vscode
node_modules
coverage
npm-debug*
packagedev.json
packagepublish.json
prep.js
/src
karma*.*
.travis.yml
systemjs.config.js
tsconfig.json
tsconfig-build.json
ngx-magicsearch-build.ts
tslint.json
PUBLISHING.md
CONTRIBUTING.md
.editorconfig
